/* All */
*,
*::before,
*::after:{
	box-sizing: border-box !important;
}

html{
	height: 101%;
}

body{
	color: #F8F8F2;
	width: auto;
	height: 100%;
    max-height: 100%;
	padding: 0;
	margin: 0;
	background-color: #272822;
	text-rendering: optimizeLegibility;
	font-size: 100%;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.46;
}

/* Nav */
.navigation{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.navigation-item{
    display: inline-block;
    margin: 0 0 0 0.5em;
    padding: 0;
}

.nav-link{
	color: #FFF;
	text-decoration: none;
	outline: none;
	transition: color ease 0.2s;
}

.selected{
    text-decoration: underline;
}

a{
	color: #959550;
	transition: color ease 0.2s;
	text-decoration: none;
}

a:hover{
	color: #74743E;
	text-decoration: underline;
}

::selection {
	background: #74743E;
	color: white; 
}

::-moz-selection {
	background: #74743E;
	color: white; 
}

/* Containers */
#container{
	max-width: 70em;
	margin: 0 auto;
}

main, footer{
    width: 94%;
    margin: 0 auto 5px auto;
    float:none;
}

main{
	border-bottom: 1px solid #FFF;
	padding: 0;
}

footer{
	font-size: .85rem;
}

.footer_left{
	text-align: left;
	width: 50%;
	float: left;
}

.footer_right{
	text-align: right;
	width: 50%;
	float: right;
}


header{
    text-align: center;
    width: 99%;
    margin: 0 auto;
    padding-top: 20px;
    float: none;
    position: relative;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

/* Typography */
p{
	font-size: 1em;
    margin: 0;
}

h1, h2{
    margin-bottom: .30em;
}

.logo-title{
    display: inline-block;
    font-size: 4rem;
    color: #909090;
}

figcaption{
    font-size: 0.9em;
}
